<div>Mon chat a un moral de {{ this.cat.moral }} et un poids de {{ this.cat.poids }} kg</div>

<div>
    <div>
        progress
        <!-- <Progress minValue={minMoral} currentValue={moral} maxValue={maxMoral}></Progress> -->
    </div>
    <div class="mt-5">
        progress
        <!-- <Progress  minValue={minPoids} currentValue={poids} maxValue={maxPoids} type="error"></Progress> -->
    </div>

</div>
<div>
    Action
    <app-action [label]="'caliner'" (action)="this.action()"></app-action>

    <!-- <Eat poids={poids} updatePoids={updatePoids}></Eat> -->
</div>