<h1>{{ this.getTitle() }}</h1>

<div>Mon chat a un moral de {{ this.cat.moral }} et un poids de {{ this.cat.poids }} kg</div>

<div class="row">
    <div class="col">
        <app-progress [minValue]="0" [maxValue]="100" [currentValue]="this.cat.moral"></app-progress>
    </div>
    <div class="col">
        <app-progress [minValue]="0" [maxValue]="5" [currentValue]="this.cat.poids"></app-progress>
    </div>

</div>
<div class="row">
    <div class="col">
        <app-action label="caliner" (action)="this.addToMoral()"></app-action>
    </div>
    <div class="col">
        <app-action label="Nourrir" (action)="this.addWeight()"></app-action>
        <!-- <Eat poids={poids} updatePoids={updatePoids}></Eat> -->
    </div>
</div>